/*

   LINKS

*/

a {
    text-decoration: none;
    transition: color .15s ease-in;
}

a:link,
a:visited {
  transition: color .15s ease-in;
}
a:hover   {
  transition: color .15s ease-in;
}
a:active  {
  transition: color .15s ease-in;
}
a:focus   {
  transition: color .15s ease-in;
}

.underline             { text-decoration: underline; }
.underline-hover:hover { text-decoration: underline; }